# Starter pipeline
# Start with a minimal pipeline that you can customize to build and deploy your code.
# Add steps that build, run tests, deploy, and more:
# https://aka.ms/yaml

name: $(Date:yyyyMMdd)$(Rev:.r)

trigger:
- master

pool: Default

stages:
- stage: PreInstall
  jobs:
   - job: PreInstallJob
     steps:
      - task: DownloadSecureFile@1
        inputs:
          secureFile: '.env'
      - task: CopyFiles@2
        inputs:
          SourceFolder: '$(Agent.TempDirectory)'
          Contents: '.env'
          TargetFolder: '$(Build.SourcesDirectory)'
          overWrite: true
- stage: Install
  jobs:
   - job: InstallJob
     steps:
      - script: make install
        env: { CONTAINER_NAME_WORKER_SUFFIX: _d }
- stage: Build
  jobs:
  - job: BuildJob
    steps:
    - script: make build
      env: { CONTAINER_NAME_WORKER_SUFFIX: _d }
- stage: Lint
  jobs:
  - job: LintJob
    steps:
    - script: make lint
      env: { CONTAINER_NAME_WORKER_SUFFIX: _d }
- stage: Audit
  jobs:
  - job: AuditJob
    steps:
    - script: make audit
      env: { CONTAINER_NAME_WORKER_SUFFIX: _d }
- stage: Test
  jobs:
  - job: TestJob
    steps:
    - script: make test
      env: { CONTAINER_NAME_WORKER_SUFFIX: _d }
    - task: PublishTestResults@2
      condition: succeededOrFailed()
      inputs:
        testRunner: JUnit
        testResultsFiles: '**/junit.xml'
    - task: PublishCodeCoverageResults@1
      inputs: 
        codeCoverageTool: Cobertura
        summaryFileLocation: '$(System.DefaultWorkingDirectory)/**/*coverage.xml'
        reportDirectory: '$(System.DefaultWorkingDirectory)/**/coverage'