# NestJS Example Azure DevOps Pipeline - https://github.com/LoganRupe/nestjs-example
# More info: https://aka.ms/yaml

variables:
  - group: build-pipeline-vars

name: $(Date:yyyyMMdd)$(Rev:.r)

trigger:
- master

pool: Default

stages:   
- stage: InstallStage
  displayName: Install
  jobs:
  - job: PreInstallJob
    displayName: Pre-Install
    steps:
      - task: DownloadSecureFile@1
        inputs:
          secureFile: '.env'
      - task: CopyFiles@2
        inputs:
          SourceFolder: '$(Agent.TempDirectory)'
          Contents: '.env'
          TargetFolder: '$(Build.SourcesDirectory)'
          overWrite: true
  - job: InstallJob
    displayName: Install
    dependsOn: [PreInstallJob]
    steps:
      - script: make install
        env: { CONTAINER_NAME_WORKER_SUFFIX: _d }
- stage: DevBuildStage
  displayName: Development Build
  jobs:
  - job: BuildJob
    displayName: Build
    steps:
    - script: make build
      env: { CONTAINER_NAME_WORKER_SUFFIX: _d }
- stage: CodeVerificationStage
  displayName: Code Verification (Lint, Audit, Unit Test)
  jobs:
  - job: LintJob
    displayName: Lint
    dependsOn: []
    steps:
    - script: make lint
      env: { CONTAINER_NAME_WORKER_SUFFIX: _d }
  - job: AuditJob
    displayName: Audit
    dependsOn: []
    steps:
    - script: make audit
      env: { CONTAINER_NAME_WORKER_SUFFIX: _d }
  - job: TestJob
    displayName: Test (Unit Tests)
    dependsOn: []
    steps:
    - script: make test
      env: { CONTAINER_NAME_WORKER_SUFFIX: _d }
    - task: PublishTestResults@2
      condition: succeededOrFailed()
      inputs:
        testRunner: JUnit
        testResultsFiles: '**/junit.xml'
    - task: PublishCodeCoverageResults@1
      inputs: 
        codeCoverageTool: Cobertura
        summaryFileLocation: '$(System.DefaultWorkingDirectory)/**/*coverage.xml'
        reportDirectory: '$(System.DefaultWorkingDirectory)/**/coverage'
- stage: ProductionBuildStage
  displayName: Production Build (image) 
# and service)
  jobs:
  - job: ProdBuildContainerJob
    displayName: Build Production Container (Docker Image)
    steps:
    - script: make build_container
#  - job: ProdBuildServiceJob
#    displayName: Build Production Service (docker-compose)
#    steps:
#    - script: make build_service
- stage: ValidateProductionStage
  displayName: Validate Production (Start Service and API Test)
  jobs:
  - job: ProdStartServiceJob
    displayName: Start Production Service (docker-compose run)
    steps:
    - script: make start_container
      env: { CONTAINER_NAME_SERVICE_SUFFIX: _d }
  - job: APIHealthCheckJob
    displayName: API Health Check
    steps:
    - powershell: |
        # First we create the request.
        $HTTP_Request = [System.Net.WebRequest]::Create($(Url))
        
        $count = 0
        
        do {
            $HTTP_Status = 0
            $count = $count + 1
            try {
                # We then get a response from the site.
                $HTTP_Response = $HTTP_Request.GetResponse()
                # We then get the HTTP code as an integer.
                $HTTP_Status = [int]$HTTP_Response.StatusCode
            } 
            catch [System.Net.WebException] {
                $HTTP_Status = -1
            }
        
            If ($HTTP_Status -eq 200) {
                Write-Host "Site is OK!"
            }
            Else {
                Write-Host "Site not available yet. Retrying in 5 seconds."
                Start-Sleep -s 5
            }
        
            If ($count -gt 11) {
                Write-Host "Timed out after 60 seconds. The Site may be down, please check!"        
                # Finally, we clean up the http request by closing it.
                If ($HTTP_Response -eq $null) { } 
                Else { $HTTP_Response.Close() }
                exit 1
            }
        }
        until ($HTTP_Status -eq 200)
        
        # Finally, we clean up the http request by closing it.
        If ($HTTP_Response -eq $null) { } 
        Else { $HTTP_Response.Close() }
      env:
        Url: $(API_URL)
    dependsOn: [ProdStartServiceJob]
  - job: TestAPIJob
    displayName: Test API (postman/newman)
    dependsOn: [APIHealthCheckJob]
    steps:
    - script: make test_api
- stage: CleanStage
  displayName: Clean
  jobs:
  - job: CleanJob
    displayName: Clean Container Instances (docker-compose down)
    steps:
    - script: make clean