# Starter pipeline
# Start with a minimal pipeline that you can customize to build and deploy your code.
# Add steps that build, run tests, deploy, and more:
# https://aka.ms/yaml

name: $(Date:yyyyMMdd)$(Rev:.r)

trigger:
- master

pool: Default

stages:
- stage: Install
  jobs:
  - job: InstallJob
    steps:
    - task: DownloadSecureFile@1
      inputs:
        secureFile: '.env'
    - script: make install
- stage: Build
  jobs:
  - job: BuildJob
    steps:
    - script: make build
- stage: Test
  jobs:
  - job: TestJob
    steps:
    - script: make test
    
    