# Starter pipeline
# Start with a minimal pipeline that you can customize to build and deploy your code.
# Add steps that build, run tests, deploy, and more:
# https://aka.ms/yaml

name: $(Date:yyyyMMdd)$(Rev:.r)

trigger:
- master

pool: Default

stages:
- stage: Pre-Install Setup
  jobs:
   - job: PreInstallJob
     steps:
      - task: DownloadSecureFile@1
        inputs:
          secureFile: '.env'
      - task: CopyFiles@2
        inputs:
          SourceFolder: '$(Agent.TempDirectory)'
          Contents: '.env'
          TargetFolder: '$(Build.SourcesDirectory)'
- stage: Install
  jobs:
   - job: InstallJob
     steps:
      - script: make install
- stage: Build
  jobs:
  - job: BuildJob
    steps:
    - script: make build
- stage: Test
  jobs:
  - job: TestJob
    steps:
    - script: make test
    
    